[Unit]
Description=OpenQA dockerized web interface
Requires=docker.service openqa-data.service
After=docker.service openqa-data.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a openqa_webui
ExecStop=/usr/bin/docker stop -t 2 openqa_webui

[Install]
WantedBy=multi-user.target
