
td { text-align: center ;}
td { padding: 0.3em 0.6em; }
tr.odd {background-color:#f9ffeb ;}  /* Lemon hyper-light */
tr.even {background-color:#f0ffcf ;} /* Lemon ultra-light */

.resultok {background-color:#d4f291 ;} /* Lemon */
.resultunknown {background-color:#ff9 ;}
.resultwarning {background-color:#ff9 ;}
.resultfail {background-color:#faa ;}

.overviewok {color: #248509 ;}		/* dark Lemon */
.overviewunknown {background-color:#ff9 ;}
.overviewfail {background-color:#fbb ;}

.component { text-align: right; }
.links { text-align: left; }

.tactorytestedlogo {float: right; vertical-align: middle; }
.sponsors {}
.cutofftimeform { margin-left: 2em; }
table {width: 100%;}
