logs/*.tar.*
etc/mine/
cover_db/
temp
/testresults
/t/data/openqa/db/*.sqlite
/t/data/openqa/testresults
/t/data/openqa/share/tests
/factory
testrun-cron
testrun-manual
archive
backlog
video
*.swp
www/htdocs/includes/knownissues.html
*~
