logs/*.tar.*
etc/mine/
cover_db/
temp
/testresults
/t/data/openqa/db/*.sqlite
/t/data/openqa/testresults
/t/data/openqa/share/tests
/t/data/7da661d0c3faf37d49d33b6fc308f2.png
/factory
/public/packed/
/public/sass/bootstrap.scss
testrun-cron
testrun-manual
archive
backlog
video
*.swp
.sass-cache/
www/htdocs/includes/knownissues.html
*~
