logs/*.tar.*
etc/mine/
cover_db/
temp
/testresults
/t/data/openqa/webui/cache
/t/data/openqa/db/db.lock
/t/data/openqa/testresults
/t/data/openqa/share/tests
/t/data/7da661d0c3faf37d49d33b6fc308f2.png
/factory
/public/packed/
/public/sass/bootstrap.scss
testrun-cron
testrun-manual
archive
backlog
video
*.swp
.sass-cache/
www/htdocs/includes/knownissues.html
*~
mojoResults.png
openqa.log
t/data/openqa/factory/hdd/00099963-hdd_image2.qcow2
t/data/openqa/factory/hdd/hdd_image.qcow2
t/diagram-v*.png
assets/cache/
assets/assetpack.db
nytprof/
.prove
t/cache.d/
t/data/openqa/pool/
t/data/openqa/share/factory/hdd/00099963-hdd_image2.qcow2
t/data/openqa/share/factory/hdd/hdd_image.qcow2
t/data/openqa/share/factory/iso/Core-7.2.iso
t/data/openqa/share/factory/iso/test2.iso
t/data/openqa/share/factory/iso/test3.iso
t/log_chromedriver
docker.env
pool????/
container/webui/workdir
base_state.json
job.json
node_modules
package-lock.json
.tidyall.d/
openqa-documentation.html
container/terraform/.terraform*
container/terraform/terraform.tf*
container/terraform/supervisord.pid
