sudo: required
dist: trusty
services:
- docker
env:
  global:
  - COMMIT_AUTHOR_EMAIL=skynet@open.qa
  matrix:
  - FULLSTACK=0 UITESTS=0
  - FULLSTACK=0 UITESTS=1
  - GH_PUBLISH=true FULLSTACK=1
  - SCHEDULER_FULLSTACK=1
  - DEVELOPER_FULLSTACK=1
before_install: true
install: true
before_script:
- docker pull registry.opensuse.org/devel/openqa/containers/openqa_dev:latest
cache:
  directories:
  - assets/cache
script:
- mkdir -p assets/cache && chmod a+w assets/cache
- touch openqa-debug.log autoinst-log.txt && chmod a+w openqa-debug.log autoinst-log.txt
- make docker-test
after_failure:
- cat openqa-debug.log
- cat autoinst-log.txt
