sudo: required
dist: trusty
language: perl
perl:
  - "5.18"
rvm:
  - 2.3
addons: 
    ssh_known_hosts: github.com
env:
  global:
  - COMMIT_AUTHOR_EMAIL: "skynet@open.qa"
before_install:
  - openssl aes-256-cbc -K $encrypted_e2c381aa6b8c_key -iv $encrypted_e2c381aa6b8c_iv -in .openqa-travis.enc -out .openqa-travis -d
  - eval "$(ssh-agent -s)"
  - chmod 600 .openqa-travis
  - ssh-add .openqa-travis
  - echo "deb http://us.archive.ubuntu.com/ubuntu trusty main" | sudo tee /etc/apt/sources.list.d/trusty.list
  - sudo apt-get update -qq
  - sudo apt-get install libgmp3-dev libdbus-1-dev
install:
  - gem install sass asciidoctor pygments.rb
  - gem install asciidoctor-pdf --pre
  - cpanm -nq --installdeps --with-feature=coverage .
script:
  - GH_PUBLISH=true bash script/generate-documentation
  # 'coverage-coveralls' calls checkstyle, tests and coverage analysis
  - MOJO_TMPDIR=$(mktemp -d) make coverage-codecov
after_failure:
  - cat /tmp/openqa-debug.log
