sudo: required
dist: trusty
services:
  - docker
env:
  global:
    - COMMIT_AUTHOR_EMAIL=skynet@open.qa
  matrix:
    - FULLSTACK=0 UITESTS=0
    - FULLSTACK=0 UITESTS=1
    - GH_PUBLISH=true FULLSTACK=1
    - SCHEDULER_FULLSTACK=1
before_install: yes
install: yes
before_script:
  - docker pull dasantiago/openqa-tests  
cache:
  directories:
    - assets/cache
script:
  - mkdir -p assets/cache
  - chmod a+w assets/cache
  - touch openqa-debug.log
  - chmod a+w openqa-debug.log
  - docker run --cap-add SYS_ADMIN -v $TRAVIS_BUILD_DIR:/opt/openqa -v /var/run/dbus:/var/run/dbus --env-file <(env | grep TRAVIS) -e TRAVIS=true -e FULLSTACK -e UITESTS -e SCHEDULER_FULLSTACK -e GH_PUBLISH dasantiago/openqa-tests make travis-codecov
after_failure:
  - cat openqa-debug.log
