sudo: required
dist: trusty
language: perl
perl:
  - "5.18"
addons:
  chrome: stable
  ssh_known_hosts: github.com
  apt:
    packages:
      - libgmp3-dev
      - libdbus-1-dev
      - dbus-x11
env:
  matrix:
    - FULLSTACK=0 UITESTS=0
    - FULLSTACK=0 UITESTS=1
    - GH_PUBLISH=true FULLSTACK=1
    - SCHEDULER_FULLSTACK=1
  global:
    - COMMIT_AUTHOR_EMAIL=skynet@open.qa
before_install:
  - cpanm local::lib
  - eval "$(perl -Mlocal::lib=${HOME}/perl_modules)"
  - mkdir -p $HOME/chrome
  - if ! test -f $HOME/chrome/chromedriver; then curl -s https://chromedriver.storage.googleapis.com/2.33/chromedriver_linux64.zip | funzip - > $HOME/chrome/chromedriver; fi
  - chmod a+x $HOME/chrome/chromedriver
  - export PATH=$PATH:$HOME/chrome
install:
  - gem install sass
  - cpanm -nq --installdeps --with-feature=coverage .
script:
  - bash script/generate-documentation $encrypted_e2c381aa6b8c_key $encrypted_e2c381aa6b8c_iv
  - make travis-codecov
after_failure:
  - cat /tmp/openqa-debug.log
cache:
  directories:
    - $HOME/perl_modules
    - assets/cache
    - $HOME/chrome
