extends: default
rules:
  line-length:
    max: 160
  document-start: disable
  indentation:
    indent-sequences: whatever

  # Allows aligning subsequent lines with [] sequences
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: -1
  commas:
    max-spaces-after: -1
  # Allows aligning key value pairs
  colons:
    max-spaces-after: -1

ignore: |
  t/data/job-templates/invalid-yaml-schema.yaml
  t/data/job-templates/duplicate-key.yaml
  container/helm/**
