# Put this into /etc/munin/plugin-conf.d/munin-node/openqa-minion
[openqa_minion_*]
#env.url https://openqa.opensuse.org/admin/influxdb/minion
#env.minion_jobs_failed_warning 400
#env.minion_jobs_failed_critical 500
#env.minion_jobs_hook_rc_failed_warning 5
#env.minion_jobs_hook_rc_failed_critical 10
