$icon-font-path: '/fonts/';
@import "theme_variables.scss";
@import "../cache/raw.githubusercontent.com/twbs/bootstrap-sass/a73cc0f0e5c794206e9a70bc0b67e67cf37c1bca/assets/stylesheets/_bootstrap.scss";
@import "theme_overwrites.scss";
@import "rounded_tables.scss";
@import "footer.scss";

table a:not(.btn),
.table a:not(.btn) {
    text-decoration: inherit;
}

/* Add margin to progress bars for correct vertical alignment */
div.progress {
    margin-top: $line-height-computed / 2;
    margin-bottom: $line-height-computed / 2;
}

/* However, progress bars inside table cells, eg. under /tests should not have margin */
td div.progress {
    margin-top: 0;
    margin-bottom: 0;
}
