// you need to touch this everytime there is a change in the files below as the hash is calculated
// only on this file's content
// 20150320-3
@import "bootstrap";
@import "bootstrap_bento";

// Footer overrides for bento compatibility
#full-page-wrap {
  margin: 0 auto -($baseFontSize*1.5+15px);
}
