[Unit]
Description=OpenQA containerized web interface
Requires=openqa-data.service
After=openqa-data.service

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a openqa_webui
ExecStop=/usr/bin/podman stop -t 2 openqa_webui

[Install]
WantedBy=multi-user.target
