[Unit]
Description=OpenQA containerized worker
Requires=openqa-webui.service
After=openqa-webui.service

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a openqa_worker_%i
ExecStop=/usr/bin/podman stop -t 2 openqa_worker_%i

[Install]
WantedBy=multi-user.target
