[Unit]
Description=OpenQA datacontainer

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a openqa_data
ExecStop=/usr/bin/podman stop -t 2 openqa_data

[Install]
WantedBy=multi-user.target
