version: 2.1

jobs:
  test1:
    docker:
    - image: cimg/base:stable
    steps:
    - checkout
    - run:
        name: test1
        command: echo test1

  test2:
    docker:
    - image: cimg/base:stable
    steps:
    - checkout
    - run:
        name: test2
        command: echo test2

  final:
    docker:
    - image: cimg/base:stable
    steps:
    - checkout
    - run:
        name: final test
        command: echo "done"

workflows:
  say-hello-workflow:
    jobs:
    - test1
    - test2
    - final:
        requires:
          - test1
          - test2
