<div class="masthead">
  <h3 class="text-muted">openQA, automated tests for operating systems</h3>
  <ul class="nav nav-justified">
    <li class="{% if page.url == "/" %}active{% endif %}">
      <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
    </li>
    <li class="{% if page.url == "/documentation/" %}active{% endif %}">
      <a href="{{ "/documentation" | prepend: site.baseurl }}">Documentation</a>
    </li>
    <li class="{% if page.url == "/downloads/" %}active{% endif %}">
      <a href="{{ "/downloads" | prepend: site.baseurl }}">Downloads</a>
    </li>
    <li class="{% if page.url == "/contact/" %}active{% endif %}">
      <a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a>
    </li>
  </ul>
</div>
