<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ "/stylesheets/bootstrap.min.css" | prepend: site.baseurl }}">
    <!-- Custom styles for this bootstrap's template -->
    <link rel="stylesheet" href="{{ "/stylesheets/justified-nav.css" | prepend: site.baseurl }}">
    <!-- Responsive video styles copied from https://gist.github.com/jgarber/2302238 -->
    <link rel="stylesheet" href="{{ "/stylesheets/responsive-video.css" | prepend: site.baseurl }}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
