enabled: true
baseUrl: openqa.host
useHttps: false
key: 1234567890ABCDEF
secret: 1234567890ABCDEF
image:
  name: registry.opensuse.org/devel/openqa/containers15.6/openqa_webui
  pullPolicy: Always
  tag: "latest"
postgresql:
  enabled: true
  fullnameOverride: db
  auth:
    postgresPassword: openqa
    database: openqa
    username: openqa
    password: openqa
