
/* Bigger Boxes */
.container_17,.container_18 {
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
}

.container_17 .grid_3,.container_18 .grid_4
{
  width:220px;
}

.container_17 .grid_6,.container_18 .grid_8
{
  width:460px;
}

.container_17 .grid_9,.container_18 .grid_12
{
  width:700px;
}

.container_17 .grid_12,.container_18 .grid_16
{
  width:1121px;
}

.alpha
{
  margin-left:0;
}

.omega
{
  margin-right:0;
}

.container_17 .grid_1
{
  width:60px;
}

.container_17 .grid_2
{
  width:140px;
}

.container_17 .grid_4
{
  width:300px;
}

.container_17 .grid_5
{
  width:380px;
}

.container_17 .grid_7
{
  width:540px;
}

.container_17 .grid_8
{
  width:620px;
}

.container_17 .grid_10
{
  width:780px;
}

.container_17 .grid_11
{
  width:860px;
}

.container_18 .grid_1
{
  width:40px;
}

.container_18 .grid_2
{
  width:100px;
}

.container_18 .grid_3
{
  width:160px;
}

.container_18 .grid_5
{
  width:280px;
}

.container_18 .grid_6
{
  width:340px;
}

.container_18 .grid_7
{
  width:400px;
}

.container_18 .grid_9
{
  width:520px;
}

.container_18 .grid_10
{
  width:580px;
}

.container_18 .grid_11
{
  width:640px;
}

.container_18 .grid_13
{
  width:760px;
}

.container_18 .grid_14
{
  width:820px;
}

.container_18 .grid_15
{
  width:880px;
}

.container_17 .prefix_3,.container_18 .prefix_4
{
  padding-left:240px;
}

.container_17 .prefix_6,.container_18 .prefix_8
{
  padding-left:480px;
}

.container_17 .prefix_9,.container_18 .prefix_12
{
  padding-left:720px;
}

.container_17 .prefix_1
{
  padding-left:80px;
}

.container_17 .prefix_2
{
  padding-left:160px;
}

.container_17 .prefix_4
{
  padding-left:320px;
}

.container_17 .prefix_5
{
  padding-left:400px;
}

.container_17 .prefix_7
{
  padding-left:560px;
}

.container_17 .prefix_8
{
  padding-left:640px;
}

.container_17 .prefix_10
{
  padding-left:800px;
}

.container_17 .prefix_11
{
  padding-left:880px;
}

.container_18 .prefix_1
{
  padding-left:60px;
}

.container_18 .prefix_2
{
  padding-left:120px;
}

.container_18 .prefix_3
{
  padding-left:180px;
}

.container_18 .prefix_5
{
  padding-left:300px;
}

.container_18 .prefix_6
{
  padding-left:360px;
}

.container_18 .prefix_7
{
  padding-left:420px;
}

.container_18 .prefix_9
{
  padding-left:540px;
}

.container_18 .prefix_10
{
  padding-left:600px;
}

.container_18 .prefix_11
{
  padding-left:660px;
}

.container_18 .prefix_13
{
  padding-left:780px;
}

.container_18 .prefix_14
{
  padding-left:840px;
}

.container_18 .prefix_15
{
  padding-left:900px;
}

.container_17 .suffix_3,.container_18 .suffix_4
{
  padding-right:240px;
}

.container_17 .suffix_6,.container_18 .suffix_8
{
  padding-right:480px;
}

.container_17 .suffix_9,.container_18 .suffix_12
{
  padding-right:720px;
}

.container_17 .suffix_1
{
  padding-right:80px;
}

.container_17 .suffix_2
{
  padding-right:160px;
}

.container_17 .suffix_4
{
  padding-right:320px;
}

.container_17 .suffix_5
{
  padding-right:400px;
}

.container_17 .suffix_7
{
  padding-right:560px;
}

.container_17 .suffix_8
{
  padding-right:640px;
}

.container_17 .suffix_10
{
  padding-right:800px;
}

.container_17 .suffix_11
{
  padding-right:880px;
}

.container_18 .suffix_1
{
  padding-right:60px;
}

.container_18 .suffix_2
{
  padding-right:120px;
}

.container_18 .suffix_3
{
  padding-right:180px;
}

.container_18 .suffix_5
{
  padding-right:300px;
}

.container_18 .suffix_6
{
  padding-right:360px;
}

.container_18 .suffix_7
{
  padding-right:420px;
}

.container_18 .suffix_9
{
  padding-right:540px;
}

.container_18 .suffix_10
{
  padding-right:600px;
}

.container_18 .suffix_11
{
  padding-right:660px;
}

.container_18 .suffix_13
{
  padding-right:780px;
}

.container_18 .suffix_14
{
  padding-right:840px;
}

.container_18 .suffix_15
{
  padding-right:900px;
}

.container_17 .push_3,.container_18 .push_4
{
  left:240px;
}

.container_17 .push_6,.container_18 .push_8
{
  left:480px;
}

.container_17 .push_9,.container_18 .push_12
{
  left:720px;
}

.container_17 .push_1
{
  left:80px;
}

.container_17 .push_2
{
  left:160px;
}

.container_17 .push_4
{
  left:320px;
}

.container_17 .push_5
{
  left:400px;
}

.container_17 .push_7
{
  left:560px;
}

.container_17 .push_8
{
  left:640px;
}

.container_17 .push_10
{
  left:800px;
}

.container_17 .push_11
{
  left:880px;
}

.container_18 .push_1
{
  left:60px;
}

.container_18 .push_2
{
  left:120px;
}

.container_18 .push_3
{
  left:180px;
}

.container_18 .push_5
{
  left:300px;
}

.container_18 .push_6
{
  left:360px;
}

.container_18 .push_7
{
  left:420px;
}

.container_18 .push_9
{
  left:540px;
}

.container_18 .push_10
{
  left:600px;
}

.container_18 .push_11
{
  left:660px;
}

.container_18 .push_13
{
  left:780px;
}

.container_18 .push_14
{
  left:840px;
}

.container_18 .push_15
{
  left:900px;
}

.container_17 .pull_3,.container_18 .pull_4
{
  left:-240px;
}

.container_17 .pull_6,.container_18 .pull_8
{
  left:-480px;
}

.container_17 .pull_9,.container_18 .pull_12
{
  left:-720px;
}

.container_17 .pull_1
{
  left:-80px;
}

.container_17 .pull_2
{
  left:-160px;
}

.container_17 .pull_4
{
  left:-320px;
}

.container_17 .pull_5
{
  left:-400px;
}

.container_17 .pull_7
{
  left:-560px;
}

.container_17 .pull_8
{
  left:-640px;
}

.container_17 .pull_10
{
  left:-800px;
}

.container_17 .pull_11
{
  left:-880px;
}

.container_18 .pull_1
{
  left:-60px;
}

.container_18 .pull_2
{
  left:-120px;
}

.container_18 .pull_3
{
  left:-180px;
}

.container_18 .pull_5
{
  left:-300px;
}

.container_18 .pull_6
{
  left:-360px;
}

.container_18 .pull_7
{
  left:-420px;
}

.container_18 .pull_9
{
  left:-540px;
}

.container_18 .pull_10
{
  left:-600px;
}

.container_18 .pull_11
{
  left:-660px;
}

.container_18 .pull_13
{
  left:-780px;
}

.container_18 .pull_14
{
  left:-840px;
}

.container_18 .pull_15
{
  left:-900px;
}

