@import url(container18.css);

td { text-align: center; vertical-align: middle; }
td { padding: 0.3em 0.6em; }
tr.odd {background-color:#f9ffeb ;}  /* Lemon hyper-light */
tr.even {background-color:#f0ffcf ;} /* Lemon ultra-light */

.resultok {background-color:#d4f291 ;} /* Lemon */
.resultunknown {background-color:#ff9 ;}
.resultwarning {background-color:#ff9 ;}
.resultfail {background-color:#faa ;}
.resultmissing {background-color: #ddd; }
.resulttesting {background-color: #9df; }
.resultscheduled {background-color: #bef; }
.modcategory li.selected a { font-weight: bold; color: black; }

.textlink a {
  text-decoration: none;
  color: #444;
}

.textlink a:hover {
  text-decoration: underline;
  color: #444;
}

.overviewok {color: #248509 ;}		/* dark Lemon */
.overviewunknown {background-color:#ff9 ;}
.overviewfail {background-color:#fbb ;}

.component { text-align: right; }
.links { text-align: left; }

.tactorytestedlogo {float: right; vertical-align: middle; }
.sponsors {}
.subresults {font-size: 80%; }
.cutofftimeform { margin-left: 2em; }
table {width: 100%;}


/* Reference Picture delete Button */

span.refpic{
  width:80px;
  text-decoration:none;
  position:relative;
  display:block;
  /*
  padding:3px;
  */
  margin-right:5px;
  margin-top:3px;
  float:left;
}

span.refpic span.delete-icon{
  visibility:hidden;
  position:absolute;
  right:0px;
  top:2px;
  /*
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  */
}

span.refpic:hover span.delete-icon{
  visibility:visible;
}

span.refpic span.result-icon{
  position:absolute;
  right:2px;
  bottom:3px;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

span.refpic span.match-icon{
  position:absolute;
  left:3px;
  bottom:3px;
}

span.refpic span.delete-icon input, button{
	background: none;
	padding: none;
	border: none;
	color: none;
	margin: none;
}

span.refpic img.pic{
	border: 1px dotted #ccc;
}

span.refcomppic {
	width:80px;
	text-decoration:none;
	position:relative;
	display:inline-block;
	margin-right:5px;
	padding: 1px;
}

span.refcomppic.match {
	border: 3px solid #3399CC;
	padding: 1px;
}

span.refcomppic span.result-icon {
	position:absolute;
	right:3px;
	bottom:3px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

span.thumbnail {
	text-decoration:none;
	position:relative;
	display:inline-block;
	margin: 6px;
}

.ui-oo-content-wrapper .ui-oo-box-shadow > * >.thumbnail:first-child, .content-wrapper .box > * >.thumbnail:first-child {
	margin-top: 6px; !important
}

span.thumbnail.current {
	box-shadow: 0 0 3px 4px #666;
}

span.refcomppic span.match-icon {
	position:absolute;
	left:4px;
	bottom:3px;
}

img.crop-screenshot {
	background-color: #eeeeee;
	padding: 1px;
	border: 2px solid #555555;
}

img.crop-screenshot-current {
	background-color: #eeeeee;
	padding: 1px;
	border: 2px solid #669900;
}

/* Recent Issues Hover */
div.recent-issues-hide {
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

div.recent-issues-hide:hover {
  filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
}

div.click-location-pointer {
	position: absolute;
	width: 6px;
	height: 6px;
	line-height: 0.5;
	cursor: crosshair;
	display: none;
}

div.click-location-pointer div {
	position: relative;
	top: -4px;
	left: -4px;
	color: black;
	text-size: 13px;
	text-shadow: white 0px 0px 7px, white 0px 0px 7px;
}

img.resborderok {
	border: 3px solid green;
	padding: 1px;
}

img.resborderfail {
	border: 3px solid red;
	padding: 1px;
}

img.resborderunk {
	border: 3px solid dimgray;
	padding: 1px;
}

img.resborderna {
	padding: 4px;
}

h2.modcategory {
	margin-top: 0.9em !important;
}

ul.modcategory {
	margin-bottom: 0;
}

li.mod-done,li.mod-current,li.mod-todo {
	margin: 1px 0 0px 20px;
	padding: 0 3px;
	list-style-position: outside;
}

.modcategory li a:focus, .modcategory li a:hover {
	 background: none;
}

li.mod-done {
	list-style-image:url(../images/step-done.png);
}

li.mod-current {
	list-style-image:url(../images/step-current.png);
	font-weight: bold;
}

li.mod-todo {
	list-style-image:url(../images/step-todo.png);
}

a.pauseplay {
	background: url("../images/pauseplay.png") 0 0 no-repeat;
	width: 23px;
	height: 23px;
	display: inline-block;
}

a.pauseplay.pause {
	background-position: 0 0;
}

a.pauseplay.play {
	background-position: -23px 0;
}

#recent-issues a{colo}
#recent-issues li{padding: 0.73em 0px ; list-style: none;  border-bottom: 1px solid #eee}
#recent-issues  p{font-style: italic; text-align: center;}

/*.omega{position: relative !important;}*/

.omega img{}

.omega h3{ padding-top: 2em}

.big-button a:link, .big-button a:visited{background-color: #555; margin: 2em; padding: 1.7em 0em; text-align:center; color: #fff; font-size: 1.33em; border-radius: .41em; box-shadow: inset 0px -2em 5px #333, 0px 2px 3px rgba(0,0,0,0.4); text-shadow: 0px -1px 0px #000; text-transform: uppercase; letter-spacing: 1px; font-weight: bold }

.big-button a:hover,.big-button a:focus{background-color:#ccc; color: #222;  box-shadow: inset 0px 2em 5px #eee, 0px 2px 3px rgba(0,0,0,0.4); text-decoration: none !important; text-shadow: 0px 1px 0px #fff}

/* tooltips */

.tooltip {
  /*cursor: help;*/
  position: relative;
}
.tooltip span.box {
  margin-left: -999em;
  position: absolute;
  padding: 0.8em 1em;
  opacity: 0.9;
}
.tooltip:hover span.box {
  /*border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  font-family: Calibri, Tahoma, Geneva, sans-serif;*/
  position: absolute;
  left: 4.5em;
  top: 1.3em;
  z-index: 99;
  margin-left: 0;
  width: 150px;
}

/* tooltips end */

/* progressbar */

/* thanks to http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/ */

.pbox {
	position: relative;
	z-index: +1;
}

.pbox progress {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
}

/* progressbar end */


/* bento theme fixes */
ul.navigation {
	width: calc(100% - 20px); /* subtract margin (which is 10px on each side) */
}

input[type='image'] {
	border: 0;
	background-color: none;
	padding: 0;
}
/* bento theme fixes end */


.infotbl td {
        padding: 0 0 0 0;
}
.infotbl img {
        padding-right: 3px;
}

/* results table */

table#results tr {background-color:#f0ffcf ;} /* Lemon ultra-light */
table#results tr.odd {background-color:#f9ffeb ;}  /* Lemon hyper-light */
table#results select.table-autofilter { font-size: 9px; }
table#results select.table-autofilter option { font-size: 9px; }

table#results th.table-sortable {
	background-image: url(../images/sortable.png);
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 0px 0px 0px 7px;
	text-align: left;
}
table#results th.table-sorted-desc {
	background-image: url(../images/sorted-down.png);
	background-position: left top;
	background-repeat: no-repeat;
}
table#results th.table-sorted-asc {
	background-image: url(../images/sorted-up.png);
	background-position: left top;
	background-repeat: no-repeat;
}


/* Live view */

.container_16 .live-sidebar {
    width: 280px;
}

.container_16 .live-content {
    width: 820px;
}

/* User info header */

#user-info {
    text-align: right;
}
