[Unit]
Description=The openQA WebSockets server
Wants=apache2.service network.target openqa-setup-db.service
Before=apache2.service openqa-webui.service
After=openqa-resource-allocator.service openqa-scheduler.service postgresql.service network.target openqa-setup-db.service
Requires=openqa-resource-allocator.service openqa-scheduler.service

[Service]
# TODO: define whether we want to run the websockets with the same user
User=geekotest
Environment="DBUS_STARTER_BUS_TYPE=system"
ExecStart=/usr/share/openqa/script/openqa-websockets
BusName=org.opensuse.openqa.WebSockets
Type=dbus

[Install]
WantedBy=multi-user.target
