[Unit]
Description=Trigger restart of all openQA services using minions

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl try-restart openqa-webui.service openqa-gru.service openqa-worker-cacheservice.service openqa-worker-cacheservice-minion.service
SuccessExitStatus=5
