[Unit]
Description=The openQA Scheduler
Before=openqa-webui.service openqa-websockets.service
After=postgresql.service openqa-setup-db.service
Wants=openqa-setup-db.service

[Service]
User=geekotest
Environment="DBUS_STARTER_BUS_TYPE=system"
ExecStart=/usr/share/openqa/script/openqa-scheduler
BusName=org.opensuse.openqa.Scheduler
TimeoutStopSec=120
Type=dbus

[Install]
WantedBy=multi-user.target
