[Unit]
Description=The openQA gru daemon

[Service]
User=geekotest
ExecStart=/usr/share/openqa/script/openqa -m production gru run

[Install]
WantedBy=multi-user.target
