[Unit]
Description=The openQA gru daemon
After=postgresql.service
Requires=postgresql.service

[Service]
User=geekotest
ExecStart=/usr/share/openqa/script/openqa gru -m production run
Nice=19

[Install]
WantedBy=multi-user.target
