[Unit]
Description=The openQA web UI
Wants=apache2.service
Before=apache2.service

[Service]
# TODO: define whether we want to run the web ui with the same user
User=geekotest
ExecStart=/usr/share/openqa/script/openqa daemon -m production

[Install]
WantedBy=multi-user.target
