[Unit]
Description=OpenQA Worker Cache Service

[Service]
Restart=on-failure
User=_openqa-worker
ExecStart=/usr/share/openqa/script/openqa-workercache daemon -m production

[Install]
WantedBy=multi-user.target
