[Unit]
Description=openQA Worker Cache Service
After=network.target nss-lookup.target remote-fs.target
Wants=nss-lookup.target remote-fs.target
PartOf=openqa-worker.target

[Service]
Restart=on-failure
User=_openqa-worker
ExecStart=/usr/share/openqa/script/openqa-workercache-daemon

[Install]
WantedBy=multi-user.target
