[Unit]
Description=openQA Livehandler for live view in openQA's web UI
After=postgresql.service nss-lookup.target remote-fs.target
Requires=openqa-websockets.service

[Service]
User=geekotest
ExecStart=/usr/share/openqa/script/openqa-livehandler-daemon

[Install]
WantedBy=multi-user.target
