[Unit]
Description=The openQA web UI
Wants=apache2.service openqa-setup-db.service
Before=apache2.service
After=postgresql.service openqa-setup-db.service
Requires=openqa-livehandler.service openqa-resource-allocator.service openqa-scheduler.service openqa-websockets.service

[Service]
# TODO: define whether we want to run the web ui with the same user
User=geekotest
Environment="DBUS_STARTER_BUS_TYPE=system"
# Our API commands are very expensive, so the default timeouts are too tight
ExecStart=/usr/share/openqa/script/openqa prefork -m production --proxy -i 100 -H 400 -w 20 -G 800

[Install]
WantedBy=multi-user.target
