[Unit]
Description=Enqueues an asset cleanup task for openQA every hour.

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
