[Unit]
Description=The openQA Scheduler
Before=openqa-webui.service openqa-websockets.service

[Service]
User=geekotest
Environment="DBUS_STARTER_BUS_TYPE=system"
ExecStart=/usr/share/openqa/script/openqa-scheduler
BusName=org.opensuse.openqa.Scheduler
Type=dbus

[Install]
WantedBy=multi-user.target
