# unit description file for openQA worker processes
# start using e.g.
# systemctl start openqa-worker@1.service
# replace '1' with the instance number you want
[Unit]
Description=openQA Worker #%i
Wants=apache2.service
After=apache2.service
PartOf=openqa-worker.target

[Service]
Type=simple
ExecStart=/usr/share/openqa/tools/worker --host localhost --instance %i
User=geekotest

[Install]
WantedBy=multi-user.target
