[Unit]
Description=OpenQA Worker Cache Service
After=network-online.target
Wants=network-online.target
PartOf=openqa-worker.target

[Service]
Restart=on-failure
User=_openqa-worker
ExecStart=/usr/share/openqa/script/openqa-workercache prefork -m production -i 100 -H 400 -w 4 -G 80

[Install]
WantedBy=multi-user.target
