[Unit]
Description=openQA VDE switch
PartOf=openqa-worker.target
Requires=openqa-vde_switch.service

[Service]
Type=simple
ExecStart=/usr/share/openqa/script/openqa-vde_switch
User=_openqa-worker

[Install]
WantedBy=multi-user.target
