[Unit]
Description=openQA Worker Cache Service Minion
After=openqa-worker-cacheservice.service
Requires=openqa-worker-cacheservice.service
PartOf=openqa-worker.target

[Service]
Restart=on-failure
User=_openqa-worker
ExecStart=/usr/share/openqa/script/openqa-worker-cacheservice-minion

[Install]
WantedBy=multi-user.target
