[Unit]
Description=Enqueues an asset cleanup cleanup task for openQA.
After=postgresql.service openqa-setup-db.service
Wants=openqa-setup-db.service

[Service]
Type=oneshot
User=geekotest
ExecStart=/usr/share/openqa/script/openqa eval -m production -V 'app->gru->enqueue_limit_assets()'
