[Unit]
Description=Restart openqa-worker-auto-restart@%i.service ASAP without interrupting jobs

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl reload openqa-worker-auto-restart@%i.service
Slice=openqa-worker.slice
