[Unit]
Description=openQA enqueue asset cleanup task
After=postgresql.service openqa-setup-db.service
Wants=openqa-setup-db.service

[Service]
Type=oneshot
User=geekotest
ExecStart=/usr/share/openqa/script/openqa-enqueue-asset-cleanup
