[Unit]
Description=Setup local PostgreSQL database for openQA
Requires=postgresql.service
After=postgresql.service network.target remote-fs.target

[Service]
User=postgres
Type=oneshot
ExecStart=/usr/share/openqa/script/setup-db

[Install]
WantedBy=multi-user.target

