[Unit]
Description=Enqueues an bug cleanup task for the openQA database every week.

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
