
#dependencygraph {
    text {
        font-weight: 300;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
        font-size: 14px;
    }

    .node rect {
        stroke: #333;
        fill: #fff;
        stroke-width: 1.5px;
    }

    .edgePath path {
        stroke: #333;
        stroke-width: 1.5px;
    }

    table {
        border-spacing: 0;
    }

    table td {
        padding: 7px;
    }

    table td:first-child {
        background-color: #afa;
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        border-bottom: 1px solid #333;
        border-radius: 5px 0 0 5px;
    }

    table td:last-child {
        background-color: #faa;
        border-top: 1px solid #333;
        border-right: 1px solid #333;
        border-bottom: 1px solid #333;
        border-radius: 0 5px 5px 0;
    }
}
