.table.overview {
    table-layout: fixed;
}

#summary .badge {
    font-size: 90%;
    padding: 4px 6px 4px;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #bbb;
}

#filter-panel, #live-log-panel, #live-terminal-panel {
    .card-header {
        cursor: pointer;

        span {
            float: right;
            color: #555;
            font-weight: 500;
        }
    }
    .card-body {
        display: none;
    }

    #filter-form {
        strong {
            display: block;
        }
        .form-group label {
            margin-right: 3px;
            font-weight: normal;
        }
    }
}
