enabled: true
baseUrl: openqa.internal
useHttps: false
key: 1234567890ABCDEF
secret: 1234567890ABCDEF
image:
  name: registry.opensuse.org/devel/openqa/containers16.0/openqa_webui
  pullPolicy: Always
  tag: "latest"
service:
  type: ClusterIP
gateway:
  enabled: true
  className: "eg"
  port: 80
postgresql:
  enabled: true
  fullnameOverride: db
  auth:
    postgresPassword: openqa
    database: openqa
    username: openqa
    password: openqa
