---
name: 'Commit message check'
on:
  pull_request:
  push:
    branches:
      - '!master'

jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install gitlint
        run: pip install gitlint-core
      - name: Check commit messages
        run: gitlint --commits origin/${{ github.base_ref }}..HEAD
